.todo{
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(241, 197, 204);
    height: auto;
    border: 1px solid black;
   
    font-size: 18px;
}

.todo-input-container,
.todo-list-container
{
display: grid;
place-content: center;
grid-template-columns: 210px 150px 1fr;
column-gap: 10px;
padding: 5px;
}



.todo-list-container{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid black;
    
}

.todo-button{
 padding: 10px; 
    border: none;
    border-radius: 5px;
    height: 45px;
    width: 125px;
    color: white;

}

.delete{
    background-color: rgb(82, 14, 14);
}
.delete:hover{
        background-color: rgb(110, 51, 51);

}
.update{
    background-color: rgb(6, 39, 6);
}
.update:hover{
    background-color: rgb(38, 73, 38);
}
.add{
 background-color: rgb(202, 151, 40);
    width: 250px;
}
.add:hover{
     background-color: rgb(192, 177, 92);

}
.todo-update-input,
.todo-update-date
{
     padding: 10px 15px;
    width: 100px;
    /* margin: 5px; */
display: none;
}
.todo-save{
    display: none;
}
.show-update .todo-update-input {
    display: initial;
}
.show-update .todo-update-date{
    display: initial;
}
.show-update .todo-save{
    display: initial;
}
.show-update .todo-save:hover{
    color: green;
}
